extends layout

block stylesheet
  link(href="/stylesheets/index-style.css", rel="stylesheet")
block content
  nav#navbar-main.navbar.navbar-inverse.navbar-fixed-top(style={display: 'none'})
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse"
         data-target="#navbar", aria-expanded="false" aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#top") Olumide Awofeso
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="#about") About
          li
            a(href="#projects") Projects
          li
            a(target="_blank" href="/resume") Resume
          li
            a(href="#contact") Contact

  .container-fluid
    .row#top.fill.outer-center
      .col-xs-12.home.inner-center
        h1.text-center.roboto Hi, I'm Olumide.
        //nav-bar comes here
        .row
          .col-xs-0.col-sm-2.col-lg-4
          .col-xs-3.col-sm-2.col-lg-1.border-right
            a.text-center.block(href="#about") About
          .col-xs-3.col-sm-2.col-lg-1.border-right
            a.text-center.block(href="#projects") Projects
          .col-xs-3.col-sm-2.col-lg-1.border-right
            a.text-center.block(target="_blank" href="/resume") Resume
          #contact-text.col-xs-3.col-sm-2.col-lg-1
            a.text-center.block(href="#contact") Contact
          .col-xs-0.col-sm-2.col-lg-4
    .row#about.fill.outer-center
      .col-xs-8.col-lg-6.inner-center
        .row
          h2.roboto.text-center About me
        .row
          div
            p I'm a very passionate programmer with a lot of
              | experience with java and Android.
              | I spend 99% of my free time learning
              | new technologies, making android apps, and reading books to learn more
              | skills and on Netflix.
              br
              br
              |In addition to java, I also work with these languages:
              ul
                li C, C++
                li PHP
                li Javascript
                li HTML
                li Python
              p Here's a non exhaustive tag cloud of my skills
              #readOnly.bootstrap-tags.clearfix
                .tags
                  .tag.label.btn-success.disabled.md
                    span  Android
                  .tag.label.btn-success.disabled.md
                      span  Unit testing
                  .tag.label.btn-success.disabled.md
                      span  Data structures
                  .tag.label.btn-success.disabled.md
                      span  Algorithms
                  .tag.label.btn-success.disabled.md
                      span  Agile
                  .tag.label.btn-success.disabled.md
                      span  Scrum
                  .tag.label.btn-success.disabled.md
                      span  Jade
                  .tag.label.btn-success.disabled.md
                      span  Regex
                  .tag.label.btn-success.disabled.md
                    span  HTML
                  .tag.label.btn-success.disabled.md
                    span  CSS
                  .tag.label.btn-success.disabled.md
                    span  Selenium Webdriver
                  .tag.label.btn-success.disabled.md
                    span  Node.js
                  .tag.label.btn-success.disabled.md
                    span  Express
                  .tag.label.btn-success.disabled.md
                    span  git
                  .tag.label.btn-success.disabled.md
                    span  jni
                  .tag.label.btn-success.disabled.md
                    span  Arduino
                  .tag.label.btn-success.disabled.md
                    span  Api Development
                  .tag.label.btn-success.disabled.md
                    span  Firebase
            p Currently I'm learning C# and Universal Windows apps
              |and I'm also currently reading &#20;
              a(target="_blank" href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612")
                | Design Patterns.
    .row#projects.fill.outer-center
      .col-xs-8.col-lg-7.inner-center
        .row
          h2.text-center.roboto Projects
          h4.text-center.text-muted These are some of the projects I've worked on
        .row
          if projects
            -var index = 1
            for project in projects
              .col-xs-12.col-sm-6.col-md-4.col-lg-3
                .card
                  .card-block
                    h4.card-title= project.title
                    h6.card-subtitle.text-muted= project.description
                  img.img-responsive(src="#{project.iconImage}").center-block
                  .card-block
                    p.card-text= project.details
                    if project.destinationLink
                      a(target="_blank" href= project.destinationLink).card-link Try it
                    if project.github
                      a(target="_blank" href= project.github).card-link View on github
              if index % 4 == 0
                .clearfix.visible-lg-block
              if index % 3 == 0
                .clearfix.visible-md-block
              if index % 2 == 0
                .clearfix.visible-sm-block
              -index++
        p.pull-right.text-muted You can find more on my &#20;
          a(target="_blank" href="//github.com/0lumide") github
    .row#contact.fill.outer-center
      .col-xs-8.col-lg-6.inner-center
        .row
          h2.text-center.roboto Contact me
          p.text-center You can get in touch with me via &#20;
            a(href="mailto:olumide.awofeso+web@gmail.com") email
            |, follow me on &#20;
            a(target="_blank", href="//twitter.com/OlumideAwofeso") twitter
            |, or fork something from my &#20;
            a(target="_blank", href="//github.com/0lumide") github
